In [2]:
import pandas as pd
import numpy as np

 __1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.__

In [2]:
ds = pd.Series([1, 2, 3, 4, 5])
ds

0    1
1    2
2    3
3    4
4    5
dtype: int64

__2. Write a Pandas program to convert a Panda module Series to Python list and it's type.__

In [6]:
ds.tolist()

[1, 2, 3, 4, 5]

__3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.__

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [9]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
print('add two series:')
print(ds1 + ds2)
print('subtract two series:')
print(ds1 - ds2)
print('multiply two series')
print(ds1 * ds2)
print('divide two series:')
print(ds1 / ds2)

add two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtract two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiply two series
0     2
1    12
2    30
3    56
4    90
dtype: int64
divide two series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

__4. Write a Pandas program to compare the elements of the two Pandas Series.__

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [11]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
print('элементы равны:')
print(ds1 == ds2)
print('элемент в ds1 больше:')
print(ds1>ds2)
print('элемент в ds1 меньше:')
print(ds1<ds2)

элементы равны:
0    False
1    False
2    False
3    False
4    False
dtype: bool
элемент в ds1 больше:
0    True
1    True
2    True
3    True
4    True
dtype: bool
элемент в ds1 меньше:
0    False
1    False
2    False
3    False
4    False
dtype: bool

__5. Write a Pandas program to convert a dictionary to a Pandas series.__

In [13]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(dict)

a    100
b    200
c    300
d    400
e    800
dtype: int64

__6. Write a Pandas program to convert a NumPy array to a Pandas series.__

In [14]:
a = np.array([10, 20, 30, 40, 50])

pd.Series(a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

__7. Write a Pandas program to change the data type of given a column or a Series.__

In [19]:
ds = pd.Series([100,200, 'python', 300.12, 400])
print(ds)
print('change type:')
print(pd.to_numeric(ds, errors='coerce')) # принужденная конвертация

0       100
1       200
2    python
3    300.12
4       400
dtype: object
change type:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

__8. Write a Pandas program to convert the first column of a DataFrame as a Series.__

In [21]:
dict = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data = dict)
print(df)

print(pd.Series(df['col1']))

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
0    1
1    2
2    3
Name: col1, dtype: int64

__9. Write a Pandas program to convert a given Series to an array.__

In [23]:
ds = pd.Series([100,200, 'python', 300.12, 400])
print(ds)

print(ds.to_list())

0       100
1       200
2    python
3    300.12
4       400
dtype: object
[100, 200, 'python', 300.12, 400]

__10. Write a Pandas program to convert Series of lists to one Series.__

`ds.apply(pd.Series)` - применяет к каждому элементу серии функции создания серии. После чего образуется ДатаФрейм.

`.stack()` - преобразование ДатаФрейма в серию с многоуровневым индексом.

`.reset_index(drop=True)` - сбрасывает индекс. параметр `drop=True` указывает, что индексы будут отброшены, а не добавлены в качестве столбца.

In [29]:
ds = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

print(ds)

print(ds.apply(pd.Series).stack().reset_index(drop = True))

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

__11. Write a Pandas program to sort a given Series.__

In [37]:
ds = pd.Series(['100',"200", 'python', "300.12", "400"])
print(ds)

ds.sort_values()

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0       100
1       200
3    300.12
4       400
2    python
dtype: object

__12. Write a Pandas program to add some data to an existing Series.__

`pd.concat` - обьединение обьектов по определенной оси.

In [48]:
ds = pd.Series(['100',"200", 'python', "300.12", "400"])

pd.concat([ds, pd.Series(['500', 'php'])], ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

__13. Write a Pandas program to create a subset of a given series based on value and condition.__

In [49]:
ds = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

subset = ds[ds<6] # подзапрос

subset

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

__14. Write a Pandas program to change the order of index of a given series.__

In [52]:
ds = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])

print(ds)

ds.reindex(index =['B', 'A', 'C', 'D', 'E'] )

A    1
B    2
C    3
D    4
E    5
dtype: int64

B    2
A    1
C    3
D    4
E    5
dtype: int64

__15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.__

In [55]:
ds = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])

print(f'Mean - {ds.mean()}') # среднее значение по выборке
print(f'Standard - {ds.std()}') # стандартное отклонение

Mean - 4.818181818181818
Standard - 2.522624895547565

__16. Write a Pandas program to get the items of a given series not present in another given series.__

In [57]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 4, 6, 8, 10])

ds1[~ds1.isin(ds2)]

0    1
2    3
4    5
dtype: int64

__17. Write a Pandas program to get the items which are not common of two given series.__

In [67]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 4, 6, 8, 10])

ds_union = np.union1d(ds1, ds2) # объединение
ds_intersect = np.intersect1d(ds1,ds2) # пересечение

print(pd.Series(np.setdiff1d(ds_union, ds_intersect))) # вычитание

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

__18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.__

In [74]:
num_state = np.random.RandomState(100) # создание генератора чисел

ds = pd.Series(num_state.normal(10, 4, 20)) # μ = 10, σ = 4, count = 20

print(ds)

print(np.percentile(ds, q = [0, 25, 50, 75, 100]))

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

Перцентили - это значения, которые делят данные на части. В данном случае вычисляются следующие перцентили:

- 0-й перцентиль (минимальное значение)
- 25-й перцентиль (значение, ниже которого находится 25% данных)
- 50-й перцентиль (медиана, значение, ниже которого находится 50% данных)
- 75-й перцентиль (значение, ниже которого находится 75% данных)
- 100-й перцентиль (максимальное значение)

__19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.__

In [85]:
ds = pd.Series(np.take(list('0123456789'), np.random.randint(10, size = 40)))
print(ds.head(5))
print(ds.value_counts())

0    5
1    1
2    2
3    4
4    8
dtype: object
5    7
2    7
8    7
1    6
7    4
4    3
3    3
0    3
Name: count, dtype: int64

`np.take` - выбирает элементы из списка '0123456789' по указанным индексам.
`np.random.randint(10, size=40)` - генерирует 40 случайных чисел из диапазона 0 до 9 (первый параметр 10)

__20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.__

In [4]:
ds = pd.Series(np.random.randint(1,5, [15]))
print('Оригинальная серия: ')
print(ds)
print('Подсчет элементов в серии:')
print(ds.value_counts())

ds[~ds.isin(ds.value_counts().index[:1])] = 'Other'

print('Итоговая сериая')
print(ds)

Оригинальная серия:
0     2
1     1
2     4
3     1
4     1
5     4
6     4
7     4
8     3
9     2
10    2
11    2
12    2
13    4
14    4
dtype: int32
Подсчет элементов в серии:
4    6
2    5
1    3
3    1
Name: count, dtype: int64
Итоговая сериая
0     Other
1     Other
2         4
3     Other
4     Other
5         4
6         4
7         4
8     Other
9     Other
10    Other
11    Other
12    Other
13        4
14        4
dtype: object

C:\Users\setus\AppData\Local\Temp\ipykernel_18236\118258640.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ds[~ds.isin(ds.value_counts().index[:1])] = 'Other'

__21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.__

In [18]:
ds = pd.Series(np.random.randint(1,10,[10]))
print('Original Series:')
print(ds)
print('Values are multiples of 5')
print(ds[ds%5==0])
print('indexes:')
list(ds[ds%5==0].index)

Original Series:
0    9
1    1
2    5
3    8
4    7
5    9
6    3
7    8
8    5
9    5
dtype: int32
Values are multiples of 5
2    5
8    5
9    5
dtype: int32
indexes:

[2, 8, 9]

__22. Write a Pandas program to extract items at given positions of a given series.__

In [24]:
ds = pd.Series(np.random.randint(0,10, [22]))
print('Original Series:')
print(ds.head(5))
pos = [0, 2, 6, 11, 21]
print('Items at given positions:')
print(ds.take(pos))

Original Series:
0    2
1    3
2    8
3    8
4    6
dtype: int32
Items at given positions:
0     2
2     8
6     9
11    3
21    6
dtype: int32

__23. Write a Pandas program to get the positions of items of a given series in another given series.__

In [26]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
ds2 = pd.Series([1,3,5,7,10])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     1
10    0
dtype: object

__24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.__